<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arthur.cryptage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AtbashActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".CesarActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".VigenereActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".PolybeActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".PlayfairActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".TRectActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".DelastelleActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".DESActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".SDESActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".HillActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden"
                  android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>